<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
            <a href="/admin/profile"><img src="/img/logo1.png" alt="logo"></a>
        </div>
    </div>

    <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
        <div class="mobile-sidebar-header d-md-none">
            <div class="header-logo">
                <a href="index.html"><img src="/img/logo1.png" alt="logo"></a>
            </div>
        </div>
        <div class="sidebar-menu-content">
            <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-dashboard"></i><span>Login As</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a href="/" class="nav-link"><i class="fas fa-angle-right"></i>Admin</a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="admin/login" class="nav-link"><i class="fas fa-angle-right"></i>Login</a>
                                </li>
                                <li class="nav-item">
                                    <a href="admin/adminsignup" class="nav-link"><i class="fas fa-angle-right"></i>Sign
                                        Up</a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="index.html" class="nav-link"><i class="fas fa-angle-right"></i>Librarian</a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/login" class="nav-link"><i class="fas fa-angle-right"></i>Login</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/signup" class="nav-link"><i class="fas fa-angle-right"></i>Sign Up</a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="/" class="nav-link"><i class="fas fa-angle-right"></i>Student</a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="user/login" class="nav-link"><i class="fas fa-angle-right"></i>Login</a>
                                </li>
                                <li class="nav-item">
                                    <a href="user/usersignup" class="nav-link"><i class="fas fa-angle-right"></i>Sign
                                        Up</a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </li>


            </ul>
        </div>
    </div>
</div>