<div class="sidebar-menu-content">
    <ul class="nav nav-sidebar-menu sidebar-toggle-view">

        <li class="nav-item">
            <a href="/user/dashboard" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
        </li>

        <li class="nav-item">
            <a href="/user/available" class="nav-link"><i class="flaticon-books "></i><span>Available Books</span></a>
        </li>

        <li class="nav-item">
            <a href="/user/purchase" class="nav-link"><i class="flaticon-books "></i><span>Purchase Books</span></a>
        </li>

        <!-- <li class="nav-item">
            <a href="/user/userbooks" class="nav-link"><i class="flaticon-books "></i><span> Your Issued Books</span></a>
        </li> -->

        <li class="nav-item sidebar-nav-item">
            <a href="#" class="nav-link"><i class="flaticon-dashboard"></i><span>Settings</span></a>
                <ul class="nav sub-group-menu">
                            <li class="nav-item">
                                <a href="/user/changepassword" class="nav-link"><i
                                            class="fas fa-angle-right"></i><span> Change password</span></a>

                                <a href="/user/logout" class="nav-link"><i
                                            class="fas fa-angle-right"></i><span>Logout</span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>