<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
            <a href="/user/dashboard"><img src="/img/logo1.png" alt="logo"></a>
        </div>
    </div>
    <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
        <div class="mobile-sidebar-header d-md-none">
            <div class="header-logo">
                <a href="/user/dashboard"><img src="/img/logo1.png" alt="logo"></a>
            </div>
        </div>

        <%- include('../usersidebar') %>
    </div>
</div>