<!doctype html>
<html class="no-js" lang="en">

<head>
   <%- include('../partials/admin/headerFiles', {title: 'AKKHOR | Home 1'}) %>
</head>

<body onload="students()">

<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->

<div id="wrapper" class="wrapper bg-ash">
    <!-- Header Menu Area Start Here -->
    <%- include('../partials/admin/topbar') %>
    <!-- Header Menu Area End Here -->

    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        <!-- Sidebar Area Start Here -->
        <%- include('../partials/adminsidebar') %>
        <!-- Sidebar Area End Here -->

        <div class="dashboard-content-one">
            <!-- Breadcubs Area Start Here -->
            <div class="breadcrumbs-area">
                <h3>Admin Dashboard</h3>
            </div>
            <!-- Breadcubs Area End Here -->

            <!-- Dashboard summery Start Here -->
            <div class="row gutters-20">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="dashboard-summery-one mg-b-20">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="item-icon bg-light-green ">
                                    <i class="flaticon-classmates text-green"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item-content">
                                    <div class="item-title">Students</div>
                                    <div class="item-number" id="student"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="dashboard-summery-one mg-b-20">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="item-icon bg-light-blue">
                                    <i class="flaticon-multiple-users-silhouette text-blue"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item-content">
                                    <div class="item-title">Librarian</div>
                                    <div class="item-number" id="librarian"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="dashboard-summery-one mg-b-20">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="item-icon bg-light-yellow">
                                    <i class="flaticon-books text-orange"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item-content">
                                    <div class="item-title">Books</div>
                                    <div class="item-number" id="books"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dashboard summery End Here -->

            <!-- Dashboard Content Start Here -->
            <div class="row gutters-20">
                <div class="col-12 col-xl-6 col-4-xxxl">
                    <div class="card dashboard-card-four pd-b-20">
                        <div class="card-body">
                            <div class="heading-layout1">
                                <div class="item-title">
                                    <h3>Calender</h3>
                                </div>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                       aria-expanded="false">...</a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i
                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                        <a class="dropdown-item" href="#"><i
                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                        <a class="dropdown-item" href="#"><i
                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                    </div>
                                </div>
                            </div>

                            <div class="calender-wrap">
                                <div id="fc-calender" class="fc-calender"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dashboard Content End Here -->

            <!-- Footer Area Start Here -->
            <%- include('../partials/admin/footer.ejs') %>
            <!-- Footer Area End Here -->
        </div>
    </div>
    <!-- Page Area End Here -->
</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Popper js -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Counterup Js -->
<script src="/js/jquery.counterup.min.js"></script>
<!-- Moment Js -->
<script src="/js/moment.min.js"></script>
<!-- Waypoints Js -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Scroll Up Js -->
<script src="/js/jquery.scrollUp.min.js"></script>
<!-- Full Calender Js -->
<script src="/js/fullcalendar.min.js"></script>
<!-- Chart Js -->
<script src="/js/Chart.min.js"></script>
<!-- Custom Js -->
<script src="/js/main.js"></script>

<script>
    async function students()
    {
        var res =await fetch('/admin/viewuserdata');
        res = await res.json();
        var records = res.records;
        console.log(records.length)

        document.getElementById('student').innerText= records.length;


        var res =await fetch('/admin/viewlibrariandata');
        res = await res.json();
        var records = res.records;

        document.getElementById('librarian').innerText= records.length;


        var res =await fetch('/user/viewbooks/');
        res = await res.json();
        var records = res.records;

        document.getElementById('books').innerText= records.length;
    }
</script>

</body>
</html>