<!-- <footer class="footer-wrap-layout1 text-center">
    <div class="copyright">© Copyrights 2026. All rights reserved.</div>
</footer> -->

<footer class="footer-wrap-layout1 text-center mt-auto bg-gray-100 py-4">
    <div class="copyright">© Copyrights 2026. All rights reserved.</div>
</footer>